*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
}

/* Start Default Navbar */
.mobile-navbar {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

.mobile-navbar .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transition: all 0.5s ease-in-out;
}

.mobile-navbar .wrapper .menu-btn {
  align-self: flex-start;
  justify-self: center;
}

.mobile-navbar .wrapper .menu-btn .btn-line {
  width: 20px;
  height: 2px;
  margin: 3px 0 3px 0;
  background-color: #6563ff;
}

.mobile-navbar .wrapper .menu-btn,
.mobile-navbar .wrapper a {
  text-align: center;
  border: none;
  background: none;
  padding: 15px;
}

.mobile-navbar .wrapper a {
  transform: translate3d(0, 200%, 0);
  transition: all 0.5s ease-in-out;
  visibility: hidden;
}

.mobile-navbar .wrapper a:nth-child(2) {
  transition-delay: 0.2s;
}
/* End Default Navbar */

/* Start Expand Navbar */
.mobile-navbar.active .wrapper {
  text-align: end;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.mobile-navbar.active .wrapper a {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}
/* End Expand Navbar */
